.demo-i{
  margin: 3rem 2rem 2rem 4rem;
  border: 2px solid black;
}

.demo-btn{
  border: 2px solid black;
}

body {
  background-color: white;
}

.main-header {
  background-color: rgb(251, 114, 32);
  height: 12vh;
}

.r-name {
  font-weight: bold;
  color: white;
  font-size: medium;
  margin-left: 2rem;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  border-radius: 100px;
  height: 4rem;
  width: 4rem;
  margin-left: 2rem;
}

.nav-link {
  color: white;
  font-size: 23px;
  margin-right: 1rem;
}

.nav-link:hover {
  color: orange;
}

.img-fluid {
  width: 100%;
  height: 30rem;
}

.main-img {
  position: relative; /* makes this div a positioning container */
  text-align: center;
  color: white; /* text color for visibility */
}

.main-img h1,
.main-img h2 {
  position: absolute; /* position relative to .main-img */
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.main-img h1 {
  top: 5%; /* adjust vertical placement */
  font-size: 4rem;
  font-weight: bold;
  text-shadow: 2px 2px 5px black;
  color: gold;
}

.main-img h2 {
  top: 20%;
  color: gold;
  font-size: 2rem;
  text-shadow: 2px 2px 4px black;
}

.mic-div {
  display: flex;
  justify-content: center;
}

.mic {
  width: 8rem;
  height: 7.5rem;
  border-radius: 100px;
  margin-top: 3rem;
  margin-left: 5%;
  box-shadow: -2px 2px 4px black;
}

.h2-span {
  width: 70%;
  margin-top: 4rem;
  margin-left: 2rem;
  color: rgb(219, 86, 9);
}

.mic:hover {
  box-shadow: -3px 3px 6px black;
  height: 8rem;
  width: 8.5rem;
}

.state-div {
  display: flex;
  margin-top: 2rem;
}

.your-state {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3%;
  font-size: 2rem;
  font-weight: bold;
}

.state {
  color: rgb(219, 86, 9);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2rem;
  margin-left: 1%;
  font-weight: bold;
}

.cards-div {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 2rem;
}

.card {
  /* margin: 2.1%; */
  box-shadow: -1px 1px 2px black;
}

.card:hover{
  transform: translateY(-10px);
  box-shadow: 0 8px 16px rgba(251, 114, 32, 0.5); /* soft orange glow */
  border: 2px solid rgb(251, 114, 32);
}

.kerala{
  display: none;
}

.tamil{
  display: none;
}

.karnataka{
  display: none;
}

.andra{
  display: none;
}

.jharkhand{
  display: none;
}

.gujarat{
  display: none;
}

.state{
  display: none;
}